<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/css_2.css">
</head>
<body>
    <!-- 디스플레이속성 -->
    <!-- div태그는 블록 : 눈에는 안보이지만 웹브라우저 가로 전체를 차지함-->
    <!-- span태그는 인라인 : 컨텐츠의 크기만큼만 자리를 차지함-->
    
    <div class="c1">div text2</div>
    <div class="c1">div text1</div>
    <span class="c2">span text1</span>
    <span class="c2">span text2</span>
    <div class="c3">
        div text3
        <div class="c3_1">text3 child</div><!--부모에 적용된 css를 자식도 상속받는다.-->
    </div>

    <div class="c4">
        div text4
        <div class="c4_1">text4 child</div>
    </div>
    <div class="c5">
        div text5
        <div class="c5_1">text5 child</div>
    </div>
    
</body>
</html>