<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="d1">
        <h1>DOM_6 Page</h1>
        <ul id="list"><!--순서가 없는 리스트-->
            <li>IU</li>
            <li>CHOA</li>
        </ul>

        <ol id="list2"><!--순서가 있는 리스트-->
            <li>First</li>
            <li>Second</li>
        </ol>
    </div>

    <div id="d2">
        <h1>Append Test</h1>
    </div>

    <div id="d3">
        <h1>Before, After Test</h1>
    </div>




    <button id="btn">Button</button>
    <button id="addBtn">AddButton</button>
    <button id="addBtn2">AddButton2</button>
    <button id="addBtn3">AddButton3</button>
    <button id="BtnBf">ButtonBefore</button>
    <button id="BtnAf">ButtonAfter</button>
    


    <script src="/resources/js/dom_6.js"></script>
</body>
</html>