<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.start.bankbook.BankBookDAO">
	<select id="getCommentList" parameterType="CommentPager" resultType="BankBookCommentDTO">
		select * from 
			(select rownum rn , c.* from
			(select *
			from BB_COMMENT
			where booknum = #{booknum}
			order by num desc) c)
		where rn between #{startRow} and #{lastRow}
	</select>

	<insert id="setComment" parameterType="BankBookCommentDTO">
		insert into bb_comment (num, booknum, writer, contents, regDate)
		values (Board_seq.nextval, #{bookNum}, #{writer}, #{contents}, sysdate)
	</insert>

</mapper>