<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.start.board.notice.NoticeDAO">
	<!-- 반복되는 sql조각 -->
	<sql id="search">
		<!-- 마이바티스의 동적 sql 사용하기 -->
		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<otherwise>CONTENTS</otherwise>
		</choose>
		LIKE '%'||#{search}||'%' 
	</sql>
	<insert id = "setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE
		VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		select num, title, contents, writer, regdate, hit 
		from (select rownum as rown, nt.* 
			from (select * from notice 
			where <include refid="search"></include>	
			order by num desc) nt)
		where rown between #{startRow} and #{lastRow}
	</select>	
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) 
		from notice
		where <include refid="search"></include>
	</select>
	<!-- 파라미터 타입을 NoticeDTO로 넣으면 안된다. 왜냐하면 한번 더 형변환을 하게 되므로 -->
	<select id="getDetail" resultMap="getDetailResult" parameterType="BoardDTO"> 
		SELECT  *
		FROM NOTICE N
			LEFT JOIN 
			NOTICEFILE NF
			USING(NUM)
		WHERE NUM=#{num}
	</select>
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regdate" property="regDate"/>
		<result column="hit" property="hit"/>
		<collection property="boardFileDTOS" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="filename" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0)
	</insert>
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title} , CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	

</mapper>